<div class="container">
    <img src="http://cafeptthumb1.phinf.naver.net/20160522_277/jjeong0629_1463900360013fE8b5_PNG/%C0%AF%C6%C3.png?type=w740" style="width: 100%;height: auto;"> 
    <link type="text/css"; rel="stylesheet"; link="stylesheet.css"/>
        <form action='/index' method='GET'>
        <div class="header-content">
            <button type="submit" class="btn btn-info btn-lg">시작하기</button>
        </div>
    </form>
</div>
