<div class="container" style="background-image: url('http://anpsthemes.com/altus-html/images/demo/index-4-background.jpg'); height: 800px; width: 1400px;" >
    <link type="text/css"; rel="stylesheet"; link="stylesheet.css"/>
        <form action='/index' method='GET'>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>함께모여 즐거운</h1>
                <hr>
                <p>Uting~</p>
                <button type="submit" class="btn btn-success">시작하기</button>
            </div>
        </div>
    </form>
</div>
