<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="desscription" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Material Design Lite</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.cyan-light_blue.min.css">
    <link rel="stylesheet" href="styles.css">
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>
  </head>
  <body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title"><strong>Uting~</strong></span>
          <div class="mdl-layout-spacer"></div>
            <a href='/home/signup' style='color:black;'><i class=material-icons>account_circle</i><strong>회원가입</strong>&nbsp;&nbsp;&nbsp;</a>
            <a href='/home/signup' style='color:black;'><i class=material-icons>vpn_key</i><strong>로그인</strong></a>
        </div>
      </header>
      <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
          <img src="123.png" class="demo-avatar">
          <div class="demo-avatar-dropdown">
            <span>hello@example.com</span>
          </div>
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link" href="/home/index"><i class="mdl-color-text--blue-grey-400 material-icons">home</i><strong>Home</strong></a>
          <a class="mdl-navigation__link" href="/home/teambuild"><i class="mdl-color-text--blue-grey-400 material-icons">person_add</i><strong>팀만들기</strong></a>
          <a class="mdl-navigation__link" href="/home/teamlist"><i class="mdl-color-text--blue-grey-400 material-icons">people</i><strong>팀목록</strong></a>
          <a class="mdl-navigation__link" href="/home/mypage"><i class="mdl-color-text--blue-grey-400 material-icons">star</i><strong>마이페이지</strong></a>
          <a class="mdl-navigation__link" href="/home/qna"><i class="mdl-color-text--blue-grey-400 material-icons">question_answer</i><strong>Q&A</strong></a>
          <a class="mdl-navigation__link" href="/home/uuuu"><i class="mdl-color-text--blue-grey-400 material-icons">flag</i><strong>이용절차</strong></a>
          <a class="mdl-navigation__link" href="/home/contact"><i class="mdl-color-text--blue-grey-400 material-icons">phone</i><strong>contact</strong></a>
        </nav>
      </div>
      
      <div style='margin-left:45%; margin-top:10%'><!--여기서부터-->
          <img style="border: 3px solid gold; border-radius: 7px; -moz-border-radius: 7px; -khtml-border-radius: 7px; -webkit-border-radius: 7px;" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTya3kQqMrD4MgSvjB2rWbRXVsiKczWfSNvzNYm-S2Dqux-LEl0" />
          <ul style="list-style-type:square; margin-top:20px">
          <p><font size='5'><li>이름 : 김xx</li></font></p>
          <p><font size='5'><li>성별 : 男</li></font></p>
          <p><font size='5'><li>나이 : 25</li></font></p>
          <p><font size='5'><li>학과 : 경영학과</li></font></p>
          <p><font size='5'><li>메일 : abcdefg@hijk.lmn</li></font></p>
          </ul>
          <form action='/mypage' method='GET'>
              <button type="submit" class="btn btn-danger">마이페이지로 돌아가기</button>
          </form>
      </div><!--여기까지 내용물 넣을 칸-->
    </div>
    <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
  </body>
</html>